<%- include('../partials/header.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <script src="https://kit.fontawesome.com/42dba9c49b.js" crossorigin="anonymous"></script>
    </head>


    <body>
        <%- include('../partials/navigation.ejs') %>
        <main class="centered">
            <h1><%= eBook.title %></h1>
            <hr>
            <div class="image">
                <img src="/<%= eBook.imageUrl %>" alt="<%= eBook.title %>">
            </div>
            <h2><%= eBook.price %>,00 kn</h2>
            <p><%= eBook.description %></p>
            <% if (currentUser) { %>
                <form action="/cart" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="bookId" value="<%= eBook.id %>">
                    <input type="hidden" name="bookType" value="eBook">
                    <button class="btn btn-lg"  type="submit">Dodaj u košaricu<i class="fas fa-shopping-cart"></i></button>
                </form>
            <% } %>
            <% if (currentUser) { %>
                <%if (currentUser.status === "admin") { %> 
                    <div class="card__actions">
                        <a href="/edit-eBook/<%= eBook._id %>?edit=true" class="btn">Uredi</a>
                        <input type="hidden" value="<%= eBook._id %>" name="bookId">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <form class="book_display" action="/delete-eBook/<%= eBook._id %>" method="GET" enctype="multipart/form-data">
                            <button class="btn">Obriši</button>
                        </form>
                    </div>
                <% } %>
            <% } %>
            <div class="col-12">
            </div>
            <main>
                <% if (relatedBooks.length > 1) { %>
                   <h2 class="centered related-products"> Slične knjige </h2>
                    <div class="grid">
                        <% var relatedBooks = relatedBooks.filter( rb => rb.id != eBook._id) %>
                            <% for(var i = 0; i < 4; i++) { %> 
                                <% if(relatedBooks[i]) { %>
                                    <% if(relatedBooks[i]._id != eBook._id) {%>
                                        <article class="card product-item">
                                            <header class="card__header">
                                                <h1 class="product__title">                                        
                                                    <%= relatedBooks[i].title %>
                                                </h1>
                                            </header>
                                            <div class="card__image">
                                                <a href="/eBooks/<%= relatedBooks[i].id %>"><img src="/<%= relatedBooks[i].imageUrl %>" alt="<%= relatedBooks[i].title %>"></a>
                                            </div>
                                            <div class="card__content">
                                                <h2 class="product__price">
                                                <%= relatedBooks[i].price %>,00 kn
                                                </h2>
                                                <p class="product__description">
                                                    <%= relatedBooks[i].autor %>
                                                </p>
                                            </div>
                                            <div class="card__actions">
                                                <a href="/eBooks/<%= relatedBooks[i]._id %>" class="btn">Više</a>
                                            </div>
                                  
                                        </article>
                                    <% } %>
                                <% } %>
                            <% } %>                               
                        </div>
                <% } %>
        </main>
        <%- include('../partials/end.ejs') %>