<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Početna</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/books' ? 'active' : '' %>" href="/books">Knjige</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/eBooks' ? 'active' : '' %>" href="/eBooks">eKnjige</a>
            </li>
            <% if (currentUser) { %>
                <li class="main-header__item">
                        <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Košarica</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/eBook-list' ? 'active' : '' %>" href="/eBook-list">Vaše eKnjige</a>
            </li>
                
            <%if (currentUser.status === "admin") { %>    
                <li class="main-header__item">
                        <a class="<%= path === '/add-book' ? 'active' : '' %>" href="/add-book">Dodaj Knjigu
                        </a>
                </li>
            <% } %>
            <% } %>
        </ul>
        <ul class="main-header__item-list">
            <% if (!currentUser) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Prijava</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Registracija</a>
                </li>
            <% } else { %>
                <li class="main-header__item">
                        <a class="<%= path === '/settings' ? 'active' : '' %>" href="/settings"> <%= currentUser.username %> </a>
                    </li>
                <li class="main-header__item">
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Odjava</button>
                    </form>
                </li>
            <% } %>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Početna</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/books' ? 'active' : '' %>" href="/books">Ponuda</a>
        </li>
        <% if (currentUser) { %>
            <li class="mobile-nav__item">
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Košarica</a>
            </li>
            
            <%if (currentUser.status === "admin") { %>    
            <li class="mobile-nav__item">
                <a class="<%= path === 'books/add-book' ? 'active' : '' %>" href="/books/add-book">Dodaj Knjigu
                </a>
            </li>
            <% } %>
        <% } %>
        <% if (!currentUser) { %>
            <li class="mobile-nav__item">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Prijava</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Registracija</a>
            </li>
        <% } else { %>
            <li class="mobile-nav__item">
                    <a class="<%= path === '/settings' ? 'active' : '' %>" href="/settings">Postavke</a>
                </li>
            <li class="mobile-nav__item">
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit">Logout</button>
                </form>
            </li>
        <% } %>
    </ul>
</nav>