<%- include('../partials/header.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../partials/navigation.ejs') %>
        <main>
            <% let totalPrice = 0; %> 
            <% if (books.length > 0) { %>
                <ul class="cart__item-list">
                    <% books.forEach(b => { %>
                        <% let currentPrice = b.bookId.price * b.quantity; %>
                        <li class="cart__item">
                            <h1><%= b.bookId.title %></h1>
                            <h5>Količina: <%= b.quantity %></h5>
                            <h5>Cijena: <%= currentPrice %> kn</h5>
                            <form action="/CartRemove" method="POST">
                                <input type="hidden" value="<%= b.bookId._id %>" name="bookId">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn danger" type="submit">Ukloni iz košarice</button>
                            </form>
                        </li>
                        <% totalPrice += currentPrice; %>
                    <% }) %>
                </ul>
                <hr>
                <div class="centered">
                    <!--<form action="/create-order" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit" class="btn">Order Now!</button>
                    </form>-->
                    <h5>Ukupna cijena: <%= totalPrice %> kn</h5>
                    <a class="btn" href="/checkout">Kupi!</a>
                </div>
                
            <% } else { %>
                <h1>Nemate ništa u košarici!</h1>
            <% } %>
        </main>
        <%- include('../partials/end.ejs') %>