<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
</head>

    <body>
        <%- include('../partials/navigation.ejs') %>
        <main>
            <% let totalPrice = 0; %> 
            <% if (books.length > 0) { %>
                <ul class="cart__item-list">
                    <% books.forEach(b => { %>
                        <% let currentPrice = b.bookId.price * b.quantity; %>
                        <li class="cart__item">
                            <h1><%= b.bookId.title %></h1>
                            <h5>Količina: <%= b.quantity %></h5>
                            <h5>Cijena: <%= currentPrice %> kn</h5>
                            <form action="/CartRemove" method="POST">
                                <input type="hidden" value="<%= b.bookId._id %>" name="bookId">
                                <input type="hidden" id="token" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn danger" type="submit">Ukloni iz košarice</button>
                            </form>
                        </li>
                        <% totalPrice += currentPrice; %>
                    <% }) %>
                </ul>
                <hr>
                <div class="centered">
                        <h5>Ukupna cijena: <span id="totalPrice"><%= totalPrice %></span> kn</h5>
                        <button id="checkout-button" class="btn">Kupi sada!</button>
                </div>
                
            <% } else { %>
                <h1>Nemate ništa u košarici!</h1>
            <% } %>
        </main>
        <script src="/js/checkoutSession.js"></script>
        <%- include('../partials/end.ejs') %>